# Exclude WDL
wdl/*

# Exclude generated diagrams
*.svg
*.mmd

# Exclude pycache
__pycache__

# Exclude ipynb_checkpoints
.ipynb_checkpoints

# Exclude vscode
.vscode

# Exclude macOS kludge
*.DS_Store

# Exclude python package installation
*.egg-info/
*.egg

